h1{
color: green;
text-align: center;
}
body{
background-color: lightgreen;
}
p{
text-align: justify;
font-size: 22px;  
}
#temadapagina{
width: 200px;
height: 250px;
border: 10px solid black;
padding: 20px;
margin-left: 25%;
}